head
  title LOVEMYROBOT
  meta(charset='utf-8')
  meta(name='viewport' content='width=100%, initial-scale=1.0')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
  script(src="js/example.js")
  link(href='https://fonts.googleapis.com/css?family=Exo+2:400,600,700|Press+Start+2P&display=swap' rel='stylesheet')
  style.
    .lilkosmo{
        position: fixed;
        right: 0px;
        bottom: 0px;
    }
    .navbar { 
    /* background-color: rgb(236, 236, 236);  */
    background-image: url('https://i-love-png.com/images/grid-half-blue.png');
    background-repeat: repeat;
    min-height: 80px;
    }
    body {
        background: linear-gradient(0deg, rgba(255,128,0,1) 0%, rgba(253,153,0,1) 25%, rgba(248,212,0,1) 100%);
        background-repeat: no-repeat;
        /* this will make the gradient cover the entire body */
        background-attachment: fixed; 
        background-size: cover;

    }
    /* navbar-brand edits are to adjust the page title and logo in the navbar */
    .navbar-brand
    {
    padding: 10px;
    font-size: 50px;
    display: block;
    font-family: 'Exo 2', sans-serif;
    color: #00A3DF;
    }
    .navbar-brand>img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: auto 40%;
    }
    /* adjust the  Big brain. Bigger personality.*/
    .navbar-text{
        position: absolute;
        right: 10px;
        padding: 10px;
        font-size: 20px;
        font-family: 'Exo 2', sans-serif;
    }
    /* ---- side menu with the commands ----- */
        /* Fixed sidenav, full height */
    .sidenav {
        position:absolute;
        border-radius: 20px;
        z-index: 1;
        top:104px;
        left: 30px;
        background-color:  #111;
        overflow-x: hidden;
        padding: 8px 0;
        width: 232px;
        border-style: solid;
        border-width: 6px;
        border-color:#ffffff;
        
    }

    /* Style the sidenav links and the dropdown button */
    .sidenav a, .dropdown-btn {
    padding:  10px 10px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #a0a0a0;
    width: 100%;
    display: block;

    background: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-style:normal;
    }

    /* On mouse-over */
    .sidenav a:hover, .dropdown-btn:hover {
    color: #ffffff;
    }

    /* Add an active class to the active dropdown button */
    .active {
    background-color: rgb(204, 24, 24);
    color: white;
    }

    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
    display: none;
    background-color: #262626;
    }

    /*  down icon */
    i {
    border: solid orange;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    }
    .downarrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    float: right;
    width: 15px;
    height: 15px;
    }
    /* container for to do list */
    .ToDoList{
    border-style: solid;
    border-width: 6px;
    border-color:#ffffff;
    border-radius: 10px;
    top:104px;
    left: 286px;
    width: 56%;
    height: 81%;
    position: fixed;
    overflow:scroll;
    background-image: url('https://i-love-png.com/images/grid-half-blue.png');
    }
    .ToDoListHeader{
    border-style: none;
    border-width: 3px;
    border-bottom-style: double;
    border-color:#6487e7;
    border-radius: 5px;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
    font-size: 26px;
    text-anchor: middle;
    top:104px;
    left: 285px;
    width: 56.1%;
    position: fixed;
    text-align: center;
    vertical-align: top;
    background-color:rgb(155, 190, 253);
    color:rgb(255, 255, 255);
    }
    li{
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    text-align: center;
    color:#262626;
    list-style-type:none;
    padding: 8px;
    }
    .deletebutton{
    color:#1a1919;
    background: rgb(206, 89, 89);
    border-radius: 5px;
    text-align: center;
    }
    .submitbutton{
    color:#1a1919;
    background: rgb(104, 255, 210);
    border-radius: 5px;
    text-align: center;
    position: absolute;
    right: 6.2%;
    bottom: 70%;
    font-family: 'Exo 2', sans-serif;
    font-size: 23px;
    width: 13%;
    height: 10%;
    border-style: outset;
    border-width: 3PX;
    }
    .clearbutton{
    color:#1a1919;
    background: rgb(219, 77, 77);
    border-radius: 5px;
    text-align: center;
    position: absolute;
    right: 6.2%;
    bottom: 53%;
    font-family: 'Exo 2', sans-serif;
    font-size: 23px;
    width: 13%;
    height: 10%;
    border-style: outset;
    border-width: 3PX;
    }
    .md-form.md-form.input-group{
        text-align: left;
        width: 68%;
        
    }
    .submittocommandlist{
        width:130px;
        color:#1a1919;
        background: rgb(92, 183, 243);
        border-radius: 5px;
        font-family: 'Exo 2', sans-serif;
        font-size: 18px;
        height: 35px;
        border-style: outset;
        border-width: 3PX;

    }
    .nondropdown-btn{
        background-color: #292727;
        width:100%;
    }
nav.navbar.navbar-expand-sm.navbar-light
  a.navbar-brand
    span
      img(src='https://img1.apk.tools/300/a/b/6/com.anki.cozmo.png' width='62' alt='')
    strong My Robot Cozmo!
  .container
    span.navbar-text
      | Big brain. Bigger personality.
.sidenav
  button.dropdown-btn(style='text-align: center')
    | ACTIONS 
    i.downarrow
  .dropdown-container
    button.dropdown-btn
      | SAY 
      i.downarrow
    .dropdown-container
      a.addbutton#action Hello World
      a.addbutton#action I love you
      a.addbutton#action How are you?
      a.addbutton#action Sorry
      a.addbutton#action You are funny!
      a.addbutton#action Wanna be friends?
      a.addbutton#action No
      a.addbutton#action What&rsquo;s your name?
      a.addbutton#action AHHH! Humans!
      a.addbutton#action You&rsquo;ll never catch me!
      a.addbutton#action Thank You
      a.addbutton#action You are Beautiful
      a.addbutton#action You are ugly
      a.addbutton#action Goodbye
      a.addbutton#action Eureka
    button.dropdown-btn
      | MATH 
      i.downarrow
    .dropdown-container
      a.addbutton#action 10+10
      a.addbutton#action 100/5
      a.addbutton#action (5/2) * 4
      a.addbutton#action 239/140*139+2334-234
      a.addbutton#action (2+45-90)20
      a.addbutton#action 40*34/67
      a.addbutton#action 200-100
      a.addbutton#action 10000000-99999999
    button.dropdown-btn
      | COUNT 
      i.downarrow
    .dropdown-container
      a.addbutton#action 5
      a.addbutton#action 10
      a.addbutton#action 15
    button.nondropdown-btn
      a.addbutton#action YES
  button.dropdown-btn(style='text-align: center')
    | MOVEMENT 
    i.downarrow
  .dropdown-container
    button.dropdown-btn
      | DRIVE 
      i.downarrow
    .dropdown-container
      a.addbutton#action Forward
      a.addbutton#action Forward a little
      a.addbutton#action Backward
    button.dropdown-btn
      | TURN 
      i.downarrow
    .dropdown-container
      a.addbutton#action Right
      a.addbutton#action Left
      a.addbutton#action Turn back 
    button.dropdown-btn
      | LIFT 
      i.downarrow
    .dropdown-container
      a.addbutton#action LIFT 1
      a.addbutton#action LIFT 0.8
      a.addbutton#action LIFT 0.5
.ToDoList
  .ToDoListHeader P R O G R A M__M Y__C O Z M O 
  hr
  ul(id="list")
    each command in commands
      li.target#target #{command}
        button.deletebutton(style='text-align: center')  x 
button.submitbutton
  strong EXECUTE
button.clearbutton
  strong CLEAR
img.lilkosmo(src='https://www.tokyoacademics.com/wp-content/uploads/2019/03/Cozmo-A-400x295.png' width='340' height='300' alt='')
script.
  /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;
  for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
  }
