<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    </div>
    <nav class="navbar navbar-inverse navbar-expand-sm">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">LEX</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="http://127.0.0.1:5000/">Translated Code</a></li>
          <li><a href="http://127.0.0.1:5000/lex">LEX</a></li>
        </ul>
      </div>
    </nav>
    <h1>Yeah Boi</h1>
  </body>
</html>